@font-face {
    font-family: MarkProAlt;
    src: url('../fonts/MarkPro-Heavy_ALt.otf');
}

h2 {
  font-family: 'MarkProAlt', sans-serif;
}
em {
  color: #abc;
  font-size: 0.9em; 
}
.smt {
  margin-top: 20px;
}
.mt {
  margin-top: 50px;
}
.bmt {
  margin-top: 100px;
}
.smb {
  margin-bottom: 20px;
}
.mb {
  margin-bottom: 50px;
}
.bmb {
  margin-bottom: 100px;
}
.text-white, .text-white>a {
  color: white !important;
}
.text-center {
  text-align: center;
}
.mixtape-cover {
  font-size: 120%;
}
.dark {
  opacity: 0.3;
}
/* Correction table of content */
.toc li:last-child .toc-page:before { 
  right: 11rem;
}

/* Mixtape cards */
.gallery>li {
  background-color: white;
}
.flexblock li h2 {
  font-size: 3rem;
}
.flexblock.gallery>li {
  min-width: 350px;
}
.flexblock.gallery li figcaption {
  padding: 20px;
}
.flexblock.gallery li .wrap {
  height: 250px;
}
/* stuff */ 
.hide-small {
  display: none;
}
.show-small {
  display: block; 
}
.avatar {
  border-radius: 50%; 
  overflow: hidden;
}
.column>figure>figcaption {
  color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 7px;
  left: 8px;
  font-size: 0.7em;
}
.tag {
  background-color: #efefef;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: default;
}
p + hr {
  margin-bottom: 3rem;
}
p {
  margin-bottom: 1.5rem;
}
.text-intro {
  border-top: solid black 1px;
  font-size: 0.9em;
}
.bg-black .text-intro {
  border-color: white;
}
.track-full figcaption {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.track-full .light {
  opacity: 0.3;
}
.track-full .text-intro {
  font-size: 140%;
}
.track-full em {
  color: black;
}
.track-full h4 {
  font-size: 1.4em;
}
.track-full .text-data {
  font-size: 5em;
  line-height: 10rem;
}
@media (max-width: 768px) {
  .track-full .text-data {
    font-size: 2em;
    line-height: 5rem;
  }
  .track-full h4 {
    font-size: 1.2em;
    line-height: 2em;
  }
  .track-full .text-intro {
    font-size: 120%;
  }
}
span.numb {
  background-color: #000; 
  position: absolute;
  font-size: 120%;
  text-align: center;
  top: 0px;
  left: 0px;
  color: white; 
  width: 34px;
  height: 34px;
  padding-top: 7px;
}
.project-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-blend-mode: multiply;
  background-color: #f7f9fb;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.img-hidden {
  opacity: 0;
}
.img-hidden:hover {
  opacity: 0;
}
.nav-sq {
  position: fixed;
  top: 0px;
  z-index: 11;
  left: 0px;
  width: 34px;
  height: 34px;
  background-color: #000;
  color: #fff;
  padding-left: 7px;
  padding-top: 7px;
}
.nav-sq>a {
  color: white;
}
.slide-nav {
  position: absolute;
  top: 0px;
  z-index: 10;
  left: 0px;
  width: 100%;
  text-align: left;
  text-align: left;
  background-color: #3F51B5;
  color: white;
  height: 34px;
  padding-top: 18px;
  padding-left: 44px;
  text-transform: uppercase;
}
.small-pad {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em; 
  color: rgba(255,255,255,0.7);
}

.column .fa {
  margin-right: 10px;
}

figure figcaption {
  width: 100%; 
  text-align: left; 
}

.wrap>figcaption {
  color: rgba(255,255,255,0.7) !important;
}

@media screen and (min-width: 768px) {
  .hide-small {
    display: block;
  }
  .show-small {
    display: none; 
  }
}

/* The Overlay sliding NAV */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 30px; 
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding: 10px;
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    color: #bbbbbb;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    margin-top: 8px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay-content img {
  max-width: 300px;
}

.overlay-content .socials>li  {
  list-style: none;
  display: inline-table;
  margin-top: 30px; 
  text-align: center;
  margin-left: 0px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 40px;
}

.album>figure>figcaption {
  padding-bottom: 100px !important;
  color: #013;
  text-shadow: none;
}
.album .ghost  {
  position: absolute;
  bottom: 25px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 80px;
  color: #44d !important;
}

/* My print */
@media print {
  .nav-sq, .slide-nav {
    display: none;
  }
  .size-60, .size-50, .size-30 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

